<br><br><br><br>
<section class="panel">
  <h1>Clasificación</h1>
  <div class="row">
    <div class="col-lg-6">

      <header class="panel-heading form-in-line">
        <button type="button" class="btn btn-success" (click)="open()" data-toggle="modal" data-target="#myModal"><i class="icon-plus-sign-alt"></i> Agregar nueva clasificación</button>
      </header>
    </div>
    <div class="col-lg-3">

    </div>
    
    <div class="col-md-3">
      <input type="search" class="form-control" #nombre (keyup)="buscar(nombre)" placeholder="Buscar">
    </div>
   
  </div>

  <div class="row">
    <div class="col-lg-12">
      <section class="panel panel-default">
        <header class="panel-heading">
          <h5>Registro de Clasificación</h5>
        </header>
        <div class="panel-body">
          <div class="adv-table">
            <table class="display table table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="row">N°</th>
                  <!--<th>Id Clasificación</th>-->
                  <th scope="row">Correlativo</th>
                  <th scope="row">Clasificación</th>
                  <th scope="row">Descripcion</th>
                  <th scope="row"  class="hidden-phone">Opciones</th>
                </tr>
              </thead>
              <tbody>
     
                <tr *ngFor="let clasificacion of clasificaciones | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                  <th scope="col">{{ 5 * (p - 1) + i+1 }}</th>
                  <td>{{clasificacion.correlativo}}</td>
                  <td>{{clasificacion.clasificacion}}</td>
                  <td>{{clasificacion.descripcion}}</td>
                  <td class="center hidden-phone">
                    <button class="btn btn-primary btn-xs" (click)="modif(clasificacion.idclasificacion)"><i class="icon-pencil"></i></button>
                    <button class="btn btn-danger btn-xs" (click)="eliminar(clasificacion.idclasificacion)"><i class="icon-trash "></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
              
            <!--darle color al cuadro que rellena el número-->
        
           

          </div>
        </div>
      </section>
    </div>
  </div>
</section>
<!--modal para ingresar y editar-->
<div #basicModal aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal" [ngStyle]="{'display':display}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close()">×</button>
        <h4 class="modal-title">{{titulo}}</h4>
      </div>
      <div class="modal-body">
        <form role="form" [formGroup]="clasificacion" (ngSubmit)="guardarDatos()">
          <input type="hidden" class="form-control" formControlName="idclasificacion" id="exampleInputEmail3" autocomplete="off">
          <input type="hidden" class="form-control" formControlName="bandera" id="exampleInputEmail3" autocomplete="off">

          <div class="form-group">
            <label for="exampleInputEmail1">Correlativo:</label>
            <input type="text" class="form-control" formControlName="correlativo" id="exampleInputEmail3" placeholder="Ingrese correlativo" autocomplete="off" maxlength="11">
          </div>
          <div class="alert alert-warning fade in" *ngIf="clasificacion.controls['correlativo'].errors?.required">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>Advertenvia!</strong> El campo correlativo sí es obligatorio
          </div>
          <div class="alert alert-block alert-danger fade in" *ngIf="clasificacion.controls['correlativo'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>Error!</strong> Tamaño máximo permitido en este campo
          </div>
          <div class="alert alert-block alert-danger fade in" *ngIf="clasificacion.controls['correlativo'].errors?.yaExisteCorrelativo">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>Advertencia!</strong> ya existe el "Correlativo" ingresado, por favor intente con uno nuevo.
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea2">Clasificación:</label>
            <input type="text" class="form-control" formControlName="clasificacion" id="exampleFormControlTextarea2" placeholder="Ingrese clasificación" autocomplete="off"  maxlength="51">
          </div>
          <div class="alert alert-block alert-danger fade in" *ngIf="clasificacion.controls['clasificacion'].errors?.yaExisteClasificacion">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>Advertencia!</strong> ya existe la "Clasificación" ingresada, por favor intente con una nuevo.
          </div>
          <div class="alert alert-block alert-danger fade in" *ngIf="clasificacion.controls['clasificacion'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>Error!</strong> Tamaño máximo permitido en este campo
          </div>
          <div class="alert alert-warning fade in" *ngIf="clasificacion.controls['clasificacion'].errors?.required">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>Advertencia!</strong> El campo es obligatorio
          </div>
          
          <div class="form-group">
            <label for="exampleFormControlTextarea2">Descripción:</label>
            <textarea class="form-control rounded-0" formControlName="descripcion" id="exampleFormControlTextarea2" rows="3" placeholder="Ingrese descripcion" autocomplete="off"  maxlength="101"></textarea>
          </div>
          <div class="alert alert-block alert-danger fade in" *ngIf="clasificacion.controls['descripcion'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>Advertencia!</strong> Tamaño máximo permitido en este campo
          </div>
          <div class="alert alert-success fade in" *ngIf="clasificacion.valid&&clasificacion.controls['bandera'].value==0">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>Exelente!</strong> Datos ingresados correctamente
          </div>
          <button [disabled]="!clasificacion.valid" type="submit" class="btn btn-primary"><i class="icon-save"></i> Guardar</button>
          <button type="button" (click)="close()" class="btn btn-default"><i class="icon-remove-sign"></i> Cerrar</button>
        </form>
      </div>
    </div>
  </div>
</div>

