<!-- page start-->
<br />
<br />
<br />
<h1>Sucursales</h1>
<div class="row">
  <div class="col-lg-12">
    <section class="panel panel-default">
      <header class="panel-heading">
        Sucursales registras
      </header>
      <div class="panel-body">
        <div class="adv-table">
          <table class="display table table-bordered table-striped" id="example">
            <thead>
              <tr>
                <th>Codigo</th>
                <th>Marca</th>
                <th>Ubicacion</th>
                <th>Correlativo</th>
                <th class="hidden-phone">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sucursal of sucursales">
                <td>{{sucursal.idSucursal}}</td>
                <td>{{sucursal.nombre}}</td>
                <td>{{sucursal.ubicacion}}</td>
                <td>{{sucursal.correlativo}}</td>
                <td class="center hidden-phone">
                  <button class="btn btn-success btn-xs"><i class="icon-ok"></i></button>
                  <button class="btn btn-primary btn-xs"><i class="icon-pencil"></i></button>
                  <button class="btn btn-danger btn-xs"><i class="icon-trash "></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</div>
