/* Structure */

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
thead {
  background-color: #f2faf1;
  /*background-color: #c4e8c0;*/
  color: black;
}
.modal {
  position: fixed;
  z-index: 1;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.452);
}

.modal-content {
  animation-name: modal;
  animation-duration: 1s;
}

@keyframes modal {
  from {
    top: -330px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}
search {
  margin-top: 6px;
  width: 20px;
  border: 1px solid #fff;
  box-shadow: none;
  padding: 0 5px 0 35px;
  color: #fff;
}
h1,h5,label {
  color: #797979;
  font-family: 'Open Sans', sans-serif;
}
th, td {
  color: #797979;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

.btn-primary {
  background-color: #41cac0;
  border-color: #41cac0;
  color: #FFFFFF;
}
.btn-danger {
  background-color: #ff6c60;
  border-color: #ff6c60;
  color: #FFFFFF;
}
.panel {
  padding: 10px;
 
  margin-bottom: 5px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
