<br><br><br><br> <br>
<section class="panel">
  <h1>Marcas de Activos</h1>

  <div class="row">
    <div class="col-lg-6">

      <header class="panel-heading form-in-line">
        <button type="button" class="btn btn-success" (click)="open()" data-toggle="modal" data-target="#myModal"><i class="icon-save"></i> Agregar Nueva Marca</button>
      </header>
    </div>
    <div class="col-lg-3">

    </div>
    <div class="col-lg-3">
      <input type="text" class="form-control" placeholder="Buscar">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <section class="panel panel-default">

        <header class="panel-heading">
          <h5>Registro de Marcas</h5>
        </header>
        <div class="panel-body">
          <div class="adv-table">
            <table class="display table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Codigo</th>
                  <th>Marca</th>
                  <th>Descripcion</th>
                  <th class="hidden-phone">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let marca of marcas | paginate: { itemsPerPage: 10, currentPage: p }">
                  <td>{{marca.idMarca}}</td>
                  <td>{{marca.marca}}</td>
                  <td>{{marca.descripcion}}</td>
                  <td class="center hidden-phone">
                    <button class="btn btn-success btn-xs" (click)="modif(marca.idMarca)"><i class="icon-ok"></i></button>
                    <button class="btn btn-primary btn-xs"><i class="icon-pencil"></i></button>
                    <button class="btn btn-danger btn-xs"><i class="icon-trash "></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
  <!--modal para ingresar y editar-->
  <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal" [ngStyle]="{'display':display}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close()">×</button>
          <h4 class="modal-title">Formulario Marcas</h4>
        </div>
        <div class="modal-body">

          <form role="form" [formGroup]="marca" (ngSubmit)="guardarDatos()">
            <input type="hidden" class="form-control" formControlName="idMarca" id="exampleInputEmail3" autocomplete="off">
            <div class="form-group">
              <label for="exampleInputEmail1">Marca:</label>
              <input type="text" class="form-control" formControlName="marc">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea2">Descripción:</label>
              <textarea class="form-control rounded-0" formControlName="desc"></textarea>
            </div>
            <div >
              <button type="submit" class="btn btn-primary">Guardar</button>
              <button type="button" (click)="close()" class="btn btn-default">Cerrar</button>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
