<br><br><br><br>
<section class="panel">
  <h1>Cargos</h1>
  <div class="row">
    <div class="col-lg-6">

      <header class="panel-heading form-in-line">
        <button type="button" class="btn btn-success" (click)="open()" data-toggle="modal" data-target="#myModal"><i class="icon-plus-sign-alt"></i> Agregar Nueva Sucursal</button>
      </header>
    </div>
    <div class="col-lg-3">

    </div>
    
    <div class="col-md-3">
      <input type="search" class="form-control" #nombre (keyup)="buscar(nombre)" placeholder="Buscar">
    </div>
   
  </div>

  <div class="row">
    <div class="col-lg-12">
      <section class="panel panel-default">
        <header class="panel-heading">
          <h5>Registro de Cargos</h5>
        </header>
        <div class="panel-body">
          <div class="adv-table">
            <table class="display table table-bordered table-striped">
              <thead>
                <tr>
                  <th>N°</th>
                  <th>Cargo</th>
                  <th>Descripción</th>
                  <th class="hidden-phone">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cargo of cargos | paginate: { itemsPerPage: 5, currentPage: p }; let i=index">
                  <th scope="col">{{i+(5*p)-4}}</th>
                  <td>{{cargo.cargo}}</td>
                  <td>{{cargo.descripcion}}</td>
                  <td class="center hidden-phone">
                    <button class="btn btn-primary btn-xs" (click)="modif(cargo.idcargo)"><i class="icon-pencil" title="Editar"></i></button>
                    <button class="btn btn-danger btn-xs" (click)="eliminar(cargo.idcargo)"><i class="icon-trash "></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
<!--modal para ingresar y editar-->
<div #basicModal aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal" [ngStyle]="{'display':display}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close()">×</button>
        <h4 class="modal-title">{{titulo}}</h4>
      </div>
      <div class="modal-body">

        <form role="form" [formGroup]="cargo" (ngSubmit)="guardarDatos()">
          <input type="hidden" class="form-control" formControlName="idcargo" id="exampleInputEmail3" autocomplete="off">
          <input type="hidden" class="form-control" formControlName="bandera" id="exampleInputEmail3" autocomplete="off">

          <div class="form-group">
            <label for="exampleInputEmail1">Cargo:</label>
            <input type="text" class="form-control" formControlName="cargo" id="exampleInputEmail3" placeholder="Agregue cargo" autocomplete="off">
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="cargo.controls['cargo'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>Advertencia!</strong> Ha superado el número máximo de caracteres
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Descripción:</label>
            <input type="text" class="form-control" formControlName="descripcion" id="exampleInputEmail3" placeholder="Agregue descripción" autocomplete="off">
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="cargo.controls['descripcion'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>Advertencia!</strong> Ha superado el número máximo de caracteres
          </div>
         
                          <!--  WARNING-->
                          <div class="alert alert-warning fade in" *ngIf="!cargo.valid">
                            <button data-dismiss="alert" class="close close-sm" type="button">
                              <i class="icon-remove"></i>
                            </button>
                            <strong>Cuidado!</strong> Todos los campos son obligatorios
                          </div>
                
                           <!--  END-WARNING-->
                           <div class="alert alert-success fade in" *ngIf="cargo.valid">
                            <button data-dismiss="alert" class="close close-sm" type="button">
                              <i class="icon-remove"></i>
                            </button>
                            <strong>Exelente!</strong> Datos ingresados correctamente
                          </div>


                          
         
        
            <button [disabled]="!cargo.valid" type="submit" class="btn btn-primary"><i class="icon-save"></i> Guardar</button>
            <button type="button" (click)="close()" class="btn btn-default"><i class="icon-remove-sign"></i> Cerrar</button>
       
        </form>
      </div>
    </div>
  </div>
</div>
