/* You can add global styles to this file, and also import other style files */
body {
    color: #797979;
    background-color:#797979 ;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
  }